<p>Bienvenue sur Buzzer !</p>

<p>Merci de confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :</p>

<p><a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a></p>

<p>Ce lien {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
